html, body {
    height: 100%;
    background-color: antiquewhite;
}
* {
    margin: 0px;
    padding: 0px;
}

.bgGreen {
    background-color: lawngreen;
}
.textWhite {
    font-size: 26px;
    color: white;
}

.active {
    background-color: black;
    color: orange;
}

.lighted {
    background-color: red;
}