*{
    margin: 0;
    padding: 0;
}

body,html {
    background-color: #0b001e;
}

.tic_tac_toe {
    border: 3px solid white;
    width: 500px;
    height: 500px;
    margin: 50px auto;
    border-collapse: separate;
}

.tic_tac_toe td {
    width: 50px;
    height: 50px;
    text-align: center;
    cursor: pointer;
    border: 1px solid #3700aa;
}

.circleImage {
    background-image: url("../img/pngegg.png");
    background-repeat: no-repeat;
    background-size: contain;
}

.tic_tac_toe td:hover {
    background-color: #3700aa;
}